.container {
    margin-top: 4rem;
}

.login {
    width: 50%;
    margin: auto;
}

.fa-edit {
    color: blue;
    text-align: center;
}

.fa-trash {
    color: red;
}

.fa-change {
    margin: .3rem !important;
}

#alert-login {
    margin-bottom: 5rem !important;
    width: 100% !important; 
    margin: auto !important; 
    text-align: center !important;
}

#alert-login-success {
    margin-bottom: 5rem !important;
    width: 100% !important; 
    margin: auto !important; 
    text-align: center !important;
    margin-top: 5rem !important;
}


/* JQuery Styles
*/

.error {
    color: red;
}

/* MDB
*/

.md-form label {
    -webkit-transform: translateY(-14px) scale(0.8) !important;
    transform: translateY(-14px) scale(0.8) !important;
}